NEXT_PUBLIC_SITE_URL=http://localhost:3000

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
ADMIN_EMAILS=

RESEND_API_KEY=
RESEND_FROM_EMAIL=
MOVENTO_NOTIFICATION_EMAIL=

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_SERVER_API_KEY=
NEXT_PUBLIC_WHATSAPP_NUMBER=
