NEXT_PUBLIC_SITE_URL=http://localhost:3000

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

RESEND_API_KEY=
EMAIL_FROM=
MOVENTO_NOTIFICATION_EMAIL=

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_SERVER_API_KEY=
NEXT_PUBLIC_WHATSAPP_NUMBER=

AUTH_SECRET=
